body {
    font-family: 'Helvetica', serif;
    font-size: 16px;
}

input {
    font-size: 16px;
}
.wrapper-form {
    width: 500px;
    margin: auto;
}

.wrapper-form .group {
    display: block;
    margin: 10px 0;
}

.wrapper-form .group label {
    display: block;
    margin-bottom: 5px;
}

.wrapper-form .group input {
    padding: 10px;
    outline: none;
    width: 100%;
}

.wrapper-form .group .btn {
    padding: 20px 15px;
    font-size: 18px;
}

li {
    padding: 5px;
}